.select-list {
  position: absolute;
  top: 218px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  .list {
    color: $gray_3;
    font-size: 30px;
    padding: 0 30px 10px;
    background: $white;
    .item {
      display: flex;
      align-items: center;
      height: 90px;
      @include border(after, bottom);
      display: flex;
      justify-content: space-between;
    }
    .cur {
      color: $red_4;
    }
  }
  &.show {
    direction: block;
  }
  &.hide {
    display: none;
  }
}
