@import '~@assets/style/reset.scss';
@import '~@assets/style/variable.scss';
@import '~@assets/font/iconfont.css';

* {
  box-sizing: border-box;
}

html, body, #root, .App {
  height: 100%;
}

a {
  text-decoration: none;
}

a:active {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

