$white: #fff;

$black: #333;

$red_1: #d82626;
$red_2: #992119;
$red_3: #f8ebec;
$red_4: #e15e56;

$gray_1: #eeeeee;
$gray_2: #efeff4;
$gray_3: #a3a3a3;
$gray_4: #f5f5f5;
$gray_5: #b4b4b6;
$gray_6: #31313c;
$gray_7: #686767;


@mixin borderY($position){
  #{$position}: 0;
  left: 0;
  width: 100%;
  height: 1px;
  transform-origin: 0 0;
  @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-webkit-min-device-pixel-ratio: 1.5) {
    transform: scaleY(0.7);
  }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 2) {
    transform: scaleY(0.5);
  }
  @media only screen and (-webkit-min-device-pixel-ratio: 3), only screen and (-webkit-min-device-pixel-ratio: 3) {
    transform: scaleY(0.333);
  }
}

@mixin borderX($position){
  top: 0;
  #{$position}: 0;
  width: 1px;
  height: 100%;
  transform-origin: 0 0;
  @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-webkit-min-device-pixel-ratio: 1.5) {
    transform: scaleX(0.7);
  }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 2) {
    transform: scaleX(0.5);
  }
  @media only screen and (-webkit-min-device-pixel-ratio: 3), only screen and (-webkit-min-device-pixel-ratio: 3) {
    transform: scaleX(0.333);
  }
}

@mixin border($around:after, $direction:top, $color:#eee, $position:relative) {
  position: $position;
  &:#{$around} {
    content: '';
    position: absolute;
    display: block;
    background: $color;
    @if $direction == top {
      @include borderY(top);
    } @else if $direction == bottom{
      @include borderY(bottom);
    }@else if $direction == left{
      @include borderX(left);
    }@else if $direction == right{
      @include borderX(right);
    }
  }
}
