#home {
  height: 100%;
  display: flex;
  flex-direction: column;
  touch-action: none;
  .content {
    flex: 1;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    .banner {
      padding: 0 30px;
      background: $white;
    }
    .cate-nav {
      display: flex;
      padding: 40px 0;
      background: $white;
      .item {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
          display: block;
          width: 56px;
          height: 56px;
          margin-bottom: 20px;
        }
        .iconfont {
          font-size: 55px;
          margin-bottom: 20px;
        }
        .text {
          color: $gray_3;
          font-size: 24px;
        }
        &:nth-child(1) .iconfont {
          color: #5a8ce9;
        }
        &:nth-child(2) .iconfont {
          color: #7db769;
        }
        &:nth-child(3) .iconfont {
          color: #eb7471;
        }
        &:nth-child(4) .iconfont {
          color: #e8a241;
        }
      }
    }
    .book-list-content {
      padding: 0 30px;
    }
    .rec-link {
      display: flex;
      height: 160px;
      background: $white;
      .left {
        display: flex;
        align-items: center;
        padding: 0 30px;
        img {
          width: 70px;
          height: 70px;
          border-radius: 50%;
        }
      }
      .middle {
        flex: 1;
        font-size: 32px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        & > p {
          line-height: 42px;
        }
        .desc {
          font-size: 28px;
          color: $gray_3;
        }
      }
      .right {
        display: flex;
        align-items: center;
        padding: 0 30px;
        .iconfont {
          color: $gray_3;
          font-size: 28px;
        }
      }
    }
  }
}
